#entry:selected {
  background-color: #000000;
  color: #aaffe6;
}

#text:selected {
  color: #61aeee;
}

#window {
  margin: 5px;
  background-color: #000000;
  border: 2px solid #7fffd4;
  border-radius: 18px;
}

#input {
  /* margin: 5px; */
  margin: 15;
  background-color: none;
  border: 2px solid #7fffd4;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}

#inner-box {
  color: #ffffff;
  margin: 5px;
  background-color: none;
}

#outer-box {
  margin: 15px;
  background-color: none;
}

#scroll {
  margin: -5px;
  border-radius: 5px;
}

#text {
  margin: 5px;
  background-color: none;
  font-familly: Iceland Bold;
}

