* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Terminus", monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 1px;
    background-color: black;
    color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    background-color: #ffffff;
    color: #000000;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #000000;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 5px;
    margin: 0 4px;
    color: #ffffff;
}

#clock {
    background-color: #000000;
}

#battery {
    background-color: #000000;
    color: #ffffff;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #000000;
    color: #ffffff;
}

#memory {
    background-color: #000000;
}

#backlight {
    background-color: #000000;
}

#network {
    background-color: #000000;
}

#network.disconnected {
    background-color: #000000;
}

#pulseaudio {
    background-color: #000000;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#temperature {
    background-color: #000000;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #000000;
}

#idle_inhibitor {
    background-color: #000000;
}

#idle_inhibitor.activated {
    background-color: #000000;
    color: #2d3436;
}

#mpd {
    background-color: #000000;
    color: #ffffff;
}

#mpd.disconnected {
    background-color: #000000;
}

#mpd.stopped {
    background-color: #000000;
}

#mpd.paused {
    background-color: #000000;
}
